:root {
    --primary-color: #333333;
    --secondary-color: #Ff0000;
    --tertiary-color: #FFFFFF;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

/* NAVBAR */
nav a.active{
    font-weight: bold;
    color: var(--secondary-color);
}


