:root {
  --primary-color: #333333;
  --secondary-color: #ff0000;
  --tertiary-color: #ffffff;
  --hover-color: #0273e4;
  --text-color: #222222;
  --bg-color: #ffffff; /* Light background for normal mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #f0f0f0;
    --secondary-color: #ff4d4d;
    --tertiary-color: #1a1a1a;
    --hover-color: #339cff;
    --text-color: #e0e0e0;
    --bg-color: #121212; /* Dark background */
  }
}

.text-primary {
  color: var(--primary-color);
  font-size: medium;
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.text-hover:hover {
  color: var(--hover-color);
  transition: color 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

/* NAVBAR */
nav a.active {
  font-weight: bold;
  color: var(--secondary-color);
}

nav a.hover {
  color: var(--hover-color);
  transition: color 0.3s ease;
}

/* HOMEPAGE */
/* HERO SECTION*/
.hero-image {
  background-image: url("../src/assets/Images/Oil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.responsive-hero {
  position: relative;
  background-color: var(--secondary-color);
}

.about-hero {
  background-image: url("../src/assets/Images/aboutpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  width: 100%;
  place-items: right;
}

.about-hero-content {
  max-width: 20%;
  align-items: right;
  padding: 7rem;
  background: linear-gradient(
    rgba(47, 13, 243, 0.212),
    rgba(31, 16, 236, 0.281)
  );
}

.service-hero {
  background-image: url("../src/assets/Images/servicepage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}

.service-hero-content {
  max-width: 30%;
  align-items: right;
  padding: 7rem;
  background: linear-gradient(
    rgba(47, 13, 243, 0.212),
    rgba(31, 16, 236, 0.281)
  );
}

.contact-hero {
  background-image: url("../src/assets/Images/contactpage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  place-items: right;
}

.contact-hero-content {
  max-width: 30%;
  align-items: right;
  padding: 7rem;
  background: linear-gradient(
    rgba(47, 13, 243, 0.212),
    rgba(31, 16, 236, 0.281)
  );
}

/* Mobile-first: image as background */
@media (max-width: 1024px) {
  .responsive-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../src/assets/Images/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .responsive-hero img {
    display: none;
  }

  /*ABOUT PAGE*/
  .about-hero {
    height: 35rem;
  }
  .about-hero-content {
    max-width: 100%;
    align-items: center;
    padding: 7rem;
    background: none;
     color: white;
    font-size: 2.2rem;
  }

  /*SERVICE PAGE*/
  .service-hero {
    height: 35rem;
  }
  .service-hero-content {
    max-width: 100%;
    height: 100%;
    align-items: center;
    padding: 7rem;
    background: none;
    color: white;
    font-size: 2.2rem;
  }

  /*CONTACT PAGE*/
  .contact-hero {
    height: 35rem;
  }
  .contact-hero-content {
    max-width: 100%;
    height: 100%;
    align-items: center;
    padding: 7rem;
    background: none;
    color: black;
    font-size: 2.2rem;
  }
}

@media (min-width: 1024px) {
  /*HERO SECTION*/
  .hero-image {
    background-image: url("/src/assets/Images/Oil.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    width: 97%;
    height: 92%;
  }
  .homepagehero {
    background-color: var(--secondary-color);
    height: 38rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*SECTION 3*/
  .responsive-hero {
    background-image: none;
  }

  .responsive-hero img {
    display: block;
  }

  /* ABOUT */
  .about-hero {
    background-image: url("../src/assets/Images/aboutpage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: block;
  }

  .about-hero-content {
    max-width: 30%;
    height: 100%;
    align-items: right;
    padding: 7rem;
  }
  /*SERVICES */
  .service-hero {
    background-image: url("../src/assets/Images/servicepage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: block;
  }
  .service-hero-content {
    max-width: 30%;
    height: 100%;
    align-items: right;
    padding: 7rem;
  }

  /* CONTACT US */
  .contact-hero {
    background-image: url("../src/assets/Images/contactpage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: block;
  }

  .contact-hero-content {
    max-width: 30%;
    height: 100%;
    align-items: right;
    padding: 7rem;
  }
}
